# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://your-project-id.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=your-supabase-publishable-key
SUPABASE_SERVICE_ROLE_KEY=your-supabase-service-role-key

# Email (Resend) Configuration
RESEND_API_KEY=your_resend_api_key
NEXT_PUBLIC_ADMIN_EMAIL=info@alkahafacademy.com
